/.vs/ImportTextFile/v15/.suo
/.vs/ImportTextFile/v16/.suo
/.vs/ImportTextFile/v16/Browse.VC.db
/.vs/ImportTextFile/v16/Solution.VC.db
/Binaries/Win64/ImportTextFileEditor.target
/Binaries/Win64/UnrealEditor-ImportTextFile.dll
/Binaries/Win64/UnrealEditor-ImportTextFile.pdb
/Binaries/Win64/UnrealEditor.modules
/ImportTextFile.sln
/Intermediate/AssetRegistryCache/134abb5a.bin
/Intermediate/AssetRegistryCache/195ce774.bin
/Intermediate/AssetRegistryCache/1b17b7b5.bin
/Intermediate/AssetRegistryCache/205b111c.bin
/Intermediate/AssetRegistryCache/3095d254.bin
/Intermediate/AssetRegistryCache/4206d19f.bin
/Intermediate/AssetRegistryCache/432a0192.bin
/Intermediate/AssetRegistryCache/54d9f10f.bin
/Intermediate/AssetRegistryCache/57f3faa6.bin
/Intermediate/AssetRegistryCache/5a01a259.bin
/Intermediate/AssetRegistryCache/616365b1.bin
/Intermediate/AssetRegistryCache/6a35cbba.bin
/Intermediate/AssetRegistryCache/6de60645.bin
/Intermediate/AssetRegistryCache/8267f358.bin
/Intermediate/AssetRegistryCache/873aeca7.bin
/Intermediate/AssetRegistryCache/8dd70b68.bin
/Intermediate/AssetRegistryCache/90de1b13.bin
/Intermediate/AssetRegistryCache/93e85a70.bin
/Intermediate/AssetRegistryCache/bb64c140.bin
/Intermediate/AssetRegistryCache/c522f3ae.bin
/Intermediate/AssetRegistryCache/c7bfd108.bin
/Intermediate/AssetRegistryCache/cdd443b1.bin
/Intermediate/AssetRegistryCache/d7abd56f.bin
/Intermediate/AssetRegistryCache/eb9c8351.bin
/Intermediate/Build/BuildRules/ImportTextFileModuleRules.dll
/Intermediate/Build/BuildRules/ImportTextFileModuleRules.pdb
/Intermediate/Build/BuildRules/ImportTextFileModuleRulesManifest.json
/Intermediate/Build/SourceFileCache.bin
/Intermediate/Build/Unused/ImportTextFile.log
/Intermediate/Build/Win64/ActionHistory.bin
/Intermediate/Build/Win64/ImportTextFileEditor/Development/ActionHistory.bin
/Intermediate/Build/Win64/ImportTextFileEditor/Development/DependencyCache.bin
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.cpp
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.obj
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.obj.response
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.txt
/Intermediate/Build/Win64/ImportTextFileEditor/Development/ImportTextFileEditor.deps
/Intermediate/Build/Win64/ImportTextFileEditor/Development/ImportTextFileEditor.uhtmanifest
/Intermediate/Build/Win64/ImportTextFileEditor/Development/ImportTextFileEditor.uhtpath
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Makefile.bin
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Metadata-HotReload.dat
/Intermediate/Build/Win64/ImportTextFileEditor/Development/Metadata.dat
/Intermediate/Build/Win64/UnrealEditor/Development/ActionHistory.bin
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/Default.rc2.res
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/Definitions.ImportTextFile.h
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/Definitions.ImportTextFile.h.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.cpp.obj
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.cpp.obj.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.cpp.obj.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.cpp.txt
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.init.gen.cpp.obj
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.init.gen.cpp.obj.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.init.gen.cpp.obj.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFile.init.gen.cpp.txt
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.cpp.obj
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.cpp.obj.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.cpp.obj.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.cpp.txt
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.gen.cpp.obj
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.gen.cpp.obj.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.gen.cpp.obj.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextFileGameModeBase.gen.cpp.txt
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.cpp.obj
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.cpp.obj.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.cpp.obj.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.cpp.txt
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.gen.cpp.obj
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.gen.cpp.obj.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.gen.cpp.obj.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/ImportTextGameInstanceSubsystem.gen.cpp.txt
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/LiveCodingInfo.json
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0002.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0002.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0003.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0003.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0003.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0003.suppressed.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0003.suppressed.lib
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0004.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0004.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0004.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0004.suppressed.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0004.suppressed.lib
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0005.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0005.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0006.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0006.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0007.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0007.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0007.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0007.suppressed.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0007.suppressed.lib
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0008.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0008.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0008.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0008.suppressed.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-0008.suppressed.lib
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-6700.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile-6700.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.dll.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.dll.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.lib
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.lib.response
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.lib.response.old
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.suppressed.exp
/Intermediate/Build/Win64/UnrealEditor/Development/ImportTextFile/UnrealEditor-ImportTextFile.suppressed.lib
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/ImportTextFile.init.gen.cpp
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/ImportTextFileClasses.h
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/ImportTextFileGameModeBase.gen.cpp
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/ImportTextFileGameModeBase.generated.h
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/ImportTextGameInstanceSubsystem.gen.cpp
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/ImportTextGameInstanceSubsystem.generated.h
/Intermediate/Build/Win64/UnrealEditor/Inc/ImportTextFile/Timestamp
/Intermediate/CachedAssetRegistry.bin
/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
/Intermediate/ProjectFiles/ImportTextFile.vcxproj
/Intermediate/ProjectFiles/ImportTextFile.vcxproj.filters
/Intermediate/ProjectFiles/ImportTextFile.vcxproj.user
/Intermediate/ProjectFiles/UE5.vcxproj
/Intermediate/ProjectFiles/UE5.vcxproj.filters
/Intermediate/ProjectFiles/UE5.vcxproj.user
/Intermediate/ReimportCache/3688439234.bin
/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
/Intermediate/TargetInfo.json
/README.md
/Saved/AutoScreenshot.png
/Saved/Autosaves/PackageRestoreData.json
/Saved/Config/CrashReportClient/UECC-Windows-605A63C848AB2726ABDA74A899CD43A1/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-66D627FA402408EACA885394BE7B3E44/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-6AF6CC814FCAA9441EACCFB66483DE43/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-6E24CE024F9C807EBD98DA80A1E82E54/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-8A5B2AE244B9C067383129A1FBD85677/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-91919BCF48C31B494E26CD995310B6B2/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-9C4971104133A22529EFBDA26665B451/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-BBD66BC643A386BCA1320FB36238DB8A/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-BDFD279944F1F83FAD2EB9B4C89D7EF5/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-DBEB53E345FE6BA7D549FCA596A8928B/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-E15287DE4219514C6C27E187FF30A65E/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-E1C1CF6C47BCB7FBF1E6D1989E484DC1/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-E52925284A965A5143A893980F16E6BB/CrashReportClient.ini
/Saved/Config/WindowsEditor/Compat.ini
/Saved/Config/WindowsEditor/DeviceProfiles.ini
/Saved/Config/WindowsEditor/Editor.ini
/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
/Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
/Saved/Config/WindowsEditor/Engine.ini
/Saved/Config/WindowsEditor/Game.ini
/Saved/Config/WindowsEditor/GameUserSettings.ini
/Saved/Config/WindowsEditor/HairStrands.ini
/Saved/Config/WindowsEditor/Hardware.ini
/Saved/Config/WindowsEditor/Input.ini
/Saved/Config/WindowsEditor/Lightmass.ini
/Saved/Config/WindowsEditor/MagicLeap.ini
/Saved/Config/WindowsEditor/MagicLeapLightEstimation.ini
/Saved/Config/WindowsEditor/MotoSynth.ini
/Saved/Config/WindowsEditor/Niagara.ini
/Saved/Config/WindowsEditor/OculusVR.ini
/Saved/Config/WindowsEditor/Paper2D.ini
/Saved/Config/WindowsEditor/RuntimeOptions.ini
/Saved/Config/WindowsEditor/Scalability.ini
/Saved/Config/WindowsEditor/Synthesis.ini
/Saved/Config/WindowsEditor/UnrealInsightsSettings.ini
/Saved/Config/WindowsEditor/VariantManagerContent.ini
/Saved/Config/WorldState/3222581562.json
/Saved/Logs/ImportTextFile-backup-2022.02.22-06.55.46.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-06.56.33.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-06.59.37.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-07.00.53.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-07.01.56.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-07.20.35.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-07.26.36.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-07.29.18.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-07.30.26.log
/Saved/Logs/ImportTextFile-backup-2022.02.22-08.40.00.log
/Saved/Logs/ImportTextFile.log
